<div id="smart-button-container">
  <input type="hidden" name="id" value="<%= @reservation.id.to_s %>" id="resID" />
  <input type="hidden" value="<%=@deposit['amount'] + @deposit['tax']%>" id="amount">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AeNam77Ot9HoW-7ajei10RYEtWMBKE12ZN_easuplbUJCF33JiY_IM92K16KQwoAGiokUvS_oYs-XTfl&enable-funding=venmo&currency=AUD" data-sdk-integration-source="button-factory"></script>
<script>
  function initPayPalButton() {
    paypal.Buttons({
      style: {
        shape: 'pill',
        color: 'blue',
        layout: 'vertical',
        label: 'paypal',
        
      },

      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{"amount":{"currency_code":"AUD","value":"<%=@deposit['amount'] + @deposit['tax']%>"}}]
        });
      },

      onApprove: function(data, actions) {
        let resID = document.getElementById("resID").value;
        let amount = document.getElementById("amount").value;
        new Ajax.Request('completeRes', {
          parameters: {"reservation_id": resID, "amount": amount},
          method: "post",
          onSuccess: function(res) {
            
          }
        });
        return actions.order.capture().then(function(orderData) {
          
          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';

          document.getElementById("rescanx").style.display = "none";
          // Or go to another URL:  actions.redirect('thank_you.html');
        });
      },

      onError: function(err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }

  initPayPalButton();
</script>