@font-face {
    font-family: "Calibri";
    src: url("font/Calibri.ttf");
}

body {
    margin: 0px;
}

#banner {
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 8px solid grey;
    font: small-caps 70px/70px "Calibri", serif;
    color: white;
    text-align: center;
    height: 100px float left;
}

#user {
    width: 12em;
    float: right;
    font: small-caps 18px/18px "Calibri", sans-serif;
}

#banner img {
    padding-left: 85px;
    float: left;
    height: 105px
}

#locale {
    margin-right: 1em;
    font: small-caps 15px/15px "Calibri", sans-serif;
    float: right;
}

#usernamex {
    font: small-caps 15px/15px "Calibri", sans-serif;
}

#columns {
    position: absolute;
    left: .1em;
    right: 0;
    margin-left: .5em;
    margin-right: .5em;
}

#find_space {
    float: left;
    padding-bottom: 1em;
    width: 49%;
}

#side {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#tabs {
    margin-right: 0;
    margin-top: 1em;
}

#main {
    float: left;
    position: absolute;
    right: 0;
    padding-top: 1em;
    margin-top: 0;
    margin-right: 0;
    padding-left: 1em;
    margin-bottom: 0;
    height: 100%;
}

#right-1 {
    float: left;
    position: absolute;
    right: 0;
}

#map {
    float: right;
    border: solid;
    border-width: 1px 1px 1px 1px;
}

#map_edit {
    padding-top: 1em;
}

#main-t {
    float: left;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    width: 100%;
}

#notice {
    padding: 1em;
    margin-bottom: 2em;
    font: bold smaller sans-serif;
}

#warning {
    padding: 1em;
    margin-bottom: 2em;
    font: bold smaller sans-serif;
}

#error {
    padding: 1em;
    margin-bottom: 2em;
    font: bold smaller sans-serif;
}

#header {
    display: none;
}

#scrheader {
    text-align: center;
    white-space: pre;
    font-size: larger;
}

#trailer {
    display: none;
}

#scrtrailer {
    margin-left: 20px;
    margin-right: 20px;
    font-size: smaller;
}

#prompt_body {
    width: 47em;
}

#tabs ul li {
    list-style-image: none;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

#tabs li {
    display: inline;
    border: solid;
    border-width: 1px 1px 1px 1px;
    margin: 0 0.5em 0 0;
}

#tabs li a {
    padding: 0 0;
}

#tabs #selected {
    position: relative;
    top: 5px;
}

.elements {
    top: 0px !important;
    position: sticky !important;
    z-index: 1 !important;
    background: WhiteSmoke;
    padding-top: 12px;
}

#available td {
    min-width: 60px;
    width: auto;
    max-width: 400px;
    border: 1px solid #D6D6D6;
}

#available th {
    position: -webkit-sticky;
    position: sticky;
    top: 80px !important;
    min-width: 60px;
    max-width: 400px;
}

.header-th {
    min-width: 60px;
    width: auto;
    background:#666666;
    border-right: 1px solid white;
    text-align: center;
    color: white;
}

#available th:not([scope=row]):first-child {
    top: 80px !important;
    left: 0;
    z-index: 3 !important;
}

#available tbody td:nth-child(1) {
    position: -webkit-sticky;
    position: sticky;
    left: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
}

/* #available tbody {
    z-index: 1;
} */

::-webkit-calendar-picker-indicator {
    margin-left: -10px !important;
}

.custom_date {
    color: #000000;
    padding: 4px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.customArrow {
    background-color: rgb(102, 102, 102) !important;
    color: white !important;
    border: none !important;
}

#btnCompleteRes {
    padding-top: 3px;
}

.content_layout {
    margin-left: 2em;
    margin-right: 2em;
}

@media (max-width: 500px) {
    .content_layout,
    #explain,
    #action {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .lblRes {
        display: none !important;
    }

    .mobileLblRes {
        display: block !important;
        margin-bottom: 10px !important;
    }

    #tblCalendar,
    #available {
        display: grid;
        overflow-x: scroll;
        white-space: nowrap !important;
        position: relative;
    }

    #explain {
        margin-right: 20px !important;
    }

    #banner img {
        padding-left: 0px;
        float: none;
        height: 46px;
    }

    #locale {
        margin-top: 10px;
    }

    #space_space_id {
        width: 88px;
    }

    #completeRes {
        margin: 0px;
    }

    #txtExplanation {
        white-space: normal !important;
    }
    #explanation {
        width: 100%;
    }
    .mobile-forward {
        display: block !important;
        float: right !important;
    }
    .desktop-forward {
        display: none !important;
    }
    #custom_date {
        margin-left: 5px;
    }
    .btnClear {
        float: left !important;
    }
    @keyframes dissolveInLeft {
        0%{opacity: 0; transform:translate3d(-200px,0,0)}
	    100%{opacity: 1; transform:translate3d(0,0,0)}
    }
    .remoteBtnForward {
        float: right !important;
        margin-top: 10px;
    }
    .remoteBtnBack {
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .remoteBtnForwardDesktop {
        display: none !important;
    }
    .remoteBtnBackDesktop {
        display: none !important;
    }
    .remoteBtnDiv {
        display: block !important;
        padding-top: 10px;
    }
}

#reservation_sitetype_id,
#space_space_id {
    padding: 10px !important;
    font-size: 17px;
}

#explanation {
    padding-top: 9px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

#txtExplanation {
    font-size: 19px;
    color: red;
    white-space: nowrap;
}

div.main {
    width: 50%;
    /* overflow: hidden; */
}

div.slide-right span {
    -moz-animation: 0.7s slide-right;
    -webkit-animation: 0.7s slide-right;
    -o-animation: 0.7s slide-right;
    animation: 0.7s slide-right;
}

div.slide-right form {
    -moz-animation: 0.5s slide-right;
    -webkit-animation: 0.5s slide-right;
    -o-animation: 0.5s slide-right;
    animation: 0.5s slide-left;
}


@media (min-width: 500px) {
    @keyframes slide-right {
        from {
            margin-left: 100%;
        }

        to {
            margin-left: 0px;
        }
    }

    @keyframes slide-left {
        from {
            margin-left: 100%;
        }

        to {
            margin-left: 0px;
        }
    }
}
@media (max-width: 500px) {
    @keyframes slide-right {
        0%{opacity: 0; transform:translate3d(-200px,0,0)}
	    100%{opacity: 1; transform:translate3d(0,0,0)}
    }

    @keyframes slide-left {
        0%{opacity: 0; transform:translate3d(-200px,-50px,0)}
	    100%{opacity: 1; transform:translate3d(0,0,0)}
    }
}
/* @-webkit-keyframes slide-right {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 35px;
        width: 100%;
    }
}

@-moz-keyframes slide-right {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 35px;
        width: 100%;
    }
}

@-o-keyframes slide-right {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 35px;
        width: 100%;
    }
} */

.extra {
    white-space: nowrap;
}

.dim {
    color: grey
}

.nodisplay {
    display: none;
}

.seasonal {
    font-size: larger;
}

.oc_form legend {
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.oc_form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
}

.oc_form select,
.oc_form textarea,
.oc_form input {
    margin-left: 0.5em;
}

.oc_form .submit {
    margin-left: 4em;
}

.oc_form div {
    margin: 0.5em;
}

.in_place_editor_field {
    border-style: solid;
    border-width: 1px;
    padding-left: 1em;
    padding-right: 1em;
}

input[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid #000000;
    margin: 5px 5px 0px 0px;
    letter-spacing: .5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"] {
    background-color: #ffffff;
    color: #000000;
    padding: 5.5px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
    letter-spacing: .5px;
    font-size: 16px;
    cursor: pointer;
}

.chkRes {
    width: 20px;
    height: 20px;
    margin-left: 50px !important;
}

#continue {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 15px;
}

#month {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
    letter-spacing: .5px;
    font-size: 16px;
    cursor: pointer;
}

.button-to input {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
    letter-spacing: .5px;
    font-size: 16px;
    cursor: pointer;
}

.sitemap {
    background-color: #ffffff;
    color: #000000;
    padding: 7px 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
    letter-spacing: .5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.large_button input {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex_container_left {
    display: flex;
    height: 3em;
    justify-content: space-between;
    align-items: stretch;
}

.flex_container_center {
    display: flex;
    width: 44em;
    height: 3em;
    margin: auto;
    justify-content: center;
}

.flex_item {
    display: flex;
}

.flex_item input {
    display: flex;
    white-space: normal;
    width: 8em;
    -webkit-appearance: none;
}

a.link_btn {
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 15px;
    background: #fffff0;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

a.link_btn:active,
a.link_btn:focus,
a.link_btn:hover {
    background: #fffff0;
    color: black;
}

a.link_btn:active {
    background: #fffff0;
    color: black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */
}

.pagination a,
.pagination span,
.pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}

.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #333333;
    color: white;
    border: 1px solid #333333;
}

.pagination a {
    text-decoration: none;
    color: #444444;
    border: 1px solid black;
}

.pagination a:hover,
.pagination a:focus {
    color: black;
    background: lightgray;
    border-color: black;
}

.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}

.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .pagination {
    height: 1%;
}

*:first-child+html .pagination {
    overflow: hidden;
}


/* custom css here */

#comboMonth {
    margin-top: 4px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
}