<td>
  <form method="post" id="pay" action="to_pp" class="button-to">
    <div>
      <input type="hidden" name="id" value="<%= @reservation.id.to_s %>" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </div>
  </form>
<%# link_to(image_tag("https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :alt =>"PayPal - The safer, easier way to pay online!"), :action => :paypal_submit, :reservation_id => @reservation.id) %>
</td>
